body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center
}

/* Delivery Panel DIVS */
#panel-title{
  font-weight: bold;
  
}
.config{
  display: inline-block;
  text-align: right;
  font-size: 12px;
  width: 100%;
}

.ticket-header span{
  text-align: right;
  float: right;
}
